# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.python-version

# Environment variables
venv/
.env
.env.local
.env.*.local

# Model checkpoints
*.ckpt
!model_checkpoint.ckpt
checkpoints/
checkpoint/

# Weights & Biases
wandb/

# Jupyter Notebooks
.ipynb_checkpoints
test.ipynb
*.ipynb_checkpoints

# IDE
.vscode/
cursor/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# BentoML
bentoml/

test/
.gitignore